<div class="container">
  <h1>welcome!</h1>

  <div class="button-container">
    <% if user_signed_in? %>
      <!-- ログイン済みのユーザーはHomeページへ -->
      <a href="<%= post_index_path %>" class="btn">Go to Home</a>
    <% else %>
      <!-- 未ログインユーザーにはサインアップ & ログインを表示 -->
      <a href="<%= new_user_registration_path %>" class="btn">sign up</a>
      <a href="<%= new_user_session_path %>" class="btn">log in</a>
    <% end %>
  </div>
</div>
