<div class="container">
  <h1>welcome!</h1>
  
  <div class="button-container">
    <a href="<%= signup_path %>" class="btn">sign up</a>
    <a href="<%= login_path %>" class="btn">log in</a>
  </div>
</div>
