// welcomeページ-----------------------------------------------------------
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    background-color: #f8f8f8; /* 背景色を少し淡く */
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* これを追加 */
    gap: 15px; /* ボタン間の余白 */
  }
  
  .btn {
    display: block;
    width: 250px; /* ボタンの幅 */
    padding: 15px;
    text-align: center;
    border-radius: 25px; /* 丸み */
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .btn:nth-child(1) {
    background-color: #4aa3c1; /* 青色 */
  }
  
  .btn:nth-child(2) {
    background-color: #e57373; /* 赤色 */
  }